body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: white;
  color: #fff;
}

.nav-container {
  margin: 40px;
}

.navbar {
  background-color: #eaeaea;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar li {
  display: inline;
}

.navbar .nav {
  text-decoration: none;
  color: #202020;
  padding: 5px 15px;
  position: relative;
}

.navbar .nav::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0a65c0;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}

.navbar .nav:hover::after {
  transform: scaleX(1);
}

.navbar .login-btn {
  background-color: #254bf6;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .dropdown {
  display: none;
  color: #fff;
  padding: 20px;
}

.navbar .dropdown-1 {
  display: none;
  color: #fff;
  padding: 20px;
}

.games {
  color: #fff;
  display: block;
  text-decoration: none;
}

.shopping {
  color: #fff;
  display: block;
  text-decoration: none;
}


.navbar .games-list:hover .dropdown {
  display: block;
  position: absolute;
  background-color: #3e3e3e;
  min-width: 200px;
}

.navbar .shop-list:hover .dropdown-1 {
  display: block;
  position: absolute;

  min-width: 200px;
color: aqua;
  border: 5px solid red;
}